/*
   manual created based on the dracula colours
   (draculatheme.com)
*/

.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight, .highlight .w {
  color: #e9e9f4;
}
.highlight .err {
  color: #282936;
  background-color: #ea51b2;
}
.highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs {
  color: #626483;
}
.highlight .cp {
  color: #00f769;
}
.highlight .nt {
  color: #00f769;
}
.highlight .o, .highlight .ow {
  color: #e9e9f4;
}
.highlight .p, .highlight .pi {
  color: #e9e9f4;
}
.highlight .gi {
  color: #ebff87;
}
.highlight .gd {
  color: #ea51b2;
}
.highlight .gh {
  color: #62d6e8;
  font-weight: bold;
}
.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
  color: #aa759f;
}
.highlight .kc {
  color: #d28445;
}
.highlight .kt {
  color: #d28445;
}
.highlight .kd {
  color: #d28445;
}
.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
  color: #ebff87;
}
.highlight .sr {
  color: #75b5aa;
}
.highlight .si {
  color: #8f5536;
}
.highlight .se {
  color: #8f5536;
}
.highlight .nn {
  color: #00f769;
}
.highlight .nc {
  color: #00f769;
}
.highlight .no {
  color: #00f769;
}
.highlight .na {
  color: #62d6e8;
}
.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx {
  color: #ebff87;
}
.highlight .ss {
  color: #ebff87;
}
